ul {
	list-style: none;
}
body {
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	position: fixed;
  	background-color: white;
 	width: 100%;
	box-shadow: 1px 5px 18px -5px black;
}
.vtopmenucontainer{
	padding-right: 50px;
}
.vtopmenu {
	display: flex;
	width: 300px;
	justify-content: space-between;
	margin-top: 25px;
	list-style: none;
	color: #04c1dd;
}

.vlogocontainer {
	width: 110px;
	padding-left: 50px;
}

.vlogocontainer img {
	width: 100%;
}

.vtopmenu li {
	cursor: pointer;
	font-family: 'Gruen Lemonograf';
	font-size: 20px;
}

.vtopmenu li:hover {
	border: solid 0.5px #04c1dd;
	border-radius: 12px;
	padding: 0 7px;
}

.vtitle, .vsearch {
	text-align: center;
}
.vsearch input{
	width: 350px;
	height: 30px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border: none;
}
.surasti{
	display: flex;
	align-items: center;
	font-family: 'Gruen Lemonograf';
	font-size: 25px;
}
.vsearch p{
	background-color: #3C3C3C;
	color: white;
	height: 32px;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
}
.surasti p:hover{
	transition: 0.3s;
-webkit-box-shadow: 0px 0px 33px 0px rgba(255,252,255,1);
-moz-box-shadow: 0px 0px 33px 0px rgba(255,252,255,1);
box-shadow: 0px 0px 33px 0px rgba(255,252,255,1);
}
.vtitle h1,h2{
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}

.vtitle {
	color: white;
	padding-top: 150px;
}

.vtitle h1 {
	font-size: 40px;
}

.vsearch {
	padding-top: 110px;
	display: flex;
	justify-content: center;
}

.vsearchcontainer {
	background-image: url('assets/images/back.jpg');
	background-size: 100% 100%;
	height: 500px;
	box-shadow: 1px 5px 18px -5px black;
}

.main-news img{
	width: 100%;
	box-shadow: 1px 5px 18px -5px black;
}

.news-pcontainer{
	padding: 0px 50px;
}
.pdiscription {
	text-align: center;
}

.main-news ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.main-news li{
	width: 300px;
}
.main-news li{
	padding: 6px;
}
.news-pcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pdiscription {
	padding: 0 50px;
}

.vtop {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.vtop  li {
	margin-left: 20px;
}

.vtop img {
	width: 100%;
}

.vbigone {
	width: 600px;
	height: 440px;
	margin-left: 0;
} 

.vbigone img {
	width: 100%;
	height: 100%;
} 

.vsmallone {
	width: 300px;
	height: 240px;
}

.vtopcontainer {
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
	padding-left: 30px;
}

#vshowmore  h3, #vhide h3 {
	margin-bottom: 0;
}

#ggg {
	display: none;
}

#vhide {
	display: none;
}

#ggg .vtopcontainer #vsecond {
	order: 1;
}

#ggg .vtopcontainer #vfirst {
	order: 2;
}

#vfirst {
	margin-left: 8px;
}