ul {
	list-style: none;
}
body {
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
}

.vtopmenu {
	display: flex;
	width: 300px;
	justify-content: space-between;
	margin-top: 25px;
	list-style: none;
	color: #04c1dd;
}

.vlogocontainer {
	width: 110px;
}

.vlogocontainer img {
	width: 100%;
}

.vtopmenu li {
	cursor: pointer;
	font-family: 'Gruen Lemonograf';
	font-size: 20px;
}

.vtopmenu li:hover {
	border: solid 0.5px #04c1dd;
	border-radius: 12px;
	padding: 0 7px;
}

.vtitle, .vsearch {
	text-align: center;
}
.vsearch input{
	width: 350px;
  height: 30px;
  border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border: none;
}
.surasti{
	display: flex;
	align-items: center;
}
.vsearch p{
	background-color: #3C3C3C;
	color: white;
	height: 32px;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
}
.vtitle h1,h2{
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}

.vtitle {
	color: white;
	padding-top: 150px;
}

.vsearch {
	padding-top: 160px;
	display: flex;
	justify-content: center;
}

.vsearchcontainer {
	background-image: url('assets/images/back.jpg');
	background-size: 100% 100%;
	height: 500px;
}
.pbest-food img{
	width: 100%;
}
.pbest-food{
	padding: 0px 50px;
}
.pdiscription {
	display: flex;
	justify-content: space-between;

}
.pnearest-food ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
.pnearest-food li{
	width: 300px;
}
