ul {
	list-style: none;
}
body {
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	position: fixed;
  	background-color: white;
 	width: 100%;
	box-shadow: 1px 5px 18px -5px black;
}
/* scroll button */
#scrolling {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;

}
#scrolling:hover {
    background-color: #555;
}
.vtopmenucontainer{
	padding-right: 50px;
}
.vtopmenu {
	display: flex;
	width: 300px;
	justify-content: space-between;
	margin-top: 25px;
	list-style: none;
	color: #04c1dd;
}

.vlogocontainer {
	width: 110px;
	padding-left: 50px;
}

.vlogocontainer img {
	width: 100%;
}

.vtopmenu li {
	cursor: pointer;
	font-family: 'Gruen Lemonograf';
	font-size: 20px;
}

.vtopmenu li:hover {
	border: solid 0.5px #04c1dd;
	border-radius: 12px;
	padding: 0 7px;
}

.vtitle, .vsearch {
	text-align: center;
}
.vsearch input{
	width: 350px;
	height: 30px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border: none;
}
.surasti{
	display: flex;
	align-items: center;
	font-family: 'Gruen Lemonograf';
	font-size: 25px;
}
.vsearch p{
	background-color: #3C3C3C;
	color: white;
	height: 32px;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-right: 13px;
	padding-left: 13px;
	cursor: pointer;
}
.surasti p:hover{
	transition: 0.3s;
-webkit-box-shadow: 0px 0px 33px 0px rgba(255,252,255,1);
-moz-box-shadow: 0px 0px 33px 0px rgba(255,252,255,1);
box-shadow: 0px 0px 33px 0px rgba(255,252,255,1);
}
.vtitle h1,h2{
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}

.vtitle {
	color: white;
	padding-top: 150px;
}

.vtitle h1 {
	font-size: 40px;
}

.vsearch {
	padding-top: 110px;
	display: flex;
	justify-content: center;
}

.vsearchcontainer {
	background-image: url('assets/images/back.jpg');
	background-size: 100% 100%;
	height: 500px;
	box-shadow: 1px 5px 18px -5px black;
}

.main-news img{
	width: 100%;
	box-shadow: 1px 5px 18px -5px black;
}

.news-pcontainer{
	padding-right: 50px;
	padding-left: 50px;
}

.pdiscription {
	text-align: center;
	font-size: 12px;
}

.vtitleh {
	font-family: 'Ordinary';
	font-size: 50px;
	margin-top: 36px;
	margin-bottom: 20px;
}

.vtray h3 {
	text-align: center;
}

.vtray  {
	width: 100%;
}

.main-news ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}
.main-news figcaption{
	font-size: 21px;
  padding-top: 10px;
	color: #FFAA00;
}
.news-pcontainer h3{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #C8102E;
  padding-bottom: 5px;
}
.map h3{
	text-align: center;
}


.main-news {
	width: 100%;
}

.main-news li{
	width: 300px;
	padding: 5px;
	background-color: #5A5A5A
}
.main-news p{
	color: white;

}

.news-pcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-around;
	background: linear-gradient(to top, #d6d6d3, #787b58);

}

.pdiscription {
	padding: 0 50px;
}

.vtop {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.vtop  li {
	margin-left: 20px;
}

.vtop img {
	width: 100%;
}

.vbigone {
	width: 600px;
	height: 440px;
	margin-left: 0;
}

.vbigone img {
	width: 100%;
	height: 100%;
}

.vsmallone {
	width: 300px;
	height: 240px;
}

.vtopcontainer {
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
	padding-left: 30px;
}

#vshowmore  h3, #vhide h3 {
	margin-bottom: 0;
	cursor: pointer;
}
#vshowmore{
	box-shadow: 1px 5px 18px -5px black;
}
#ggg {
	display: none;
}

#vhide {
	display: none;
}

#ggg .vtopcontainer #vsecond {
	order: 1;
}

#ggg .vtopcontainer #vfirst {
	order: 2;
}

#vfirst {
	margin-left: 8px;
}

#vddd .vbigone {
	margin-left: 0;
}


.vtitleline {
	width: 100%;
	border: solid 1px #C8102E;
}
.footer-pcontainer {
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	background-color: #3C3C3C;
}
.footer-pcontainer div{
	width: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-pcontainer p, .fa{
	color: white;
	font-size: 20px;
}

#one {
	font-size: 20px;
	text-transform: uppercase;

}
.icons li{
	margin-top: 10px;
	color: white;
	font-size: 20px;
}
.icons a{
	font-size: 35px;
}
.fa-linkedin{
	color: #0077b5;
}
.fa-facebook-square{
	color: #4267b2;
}
.fa-instagram{
	color: #DE376A;
}
.fa-twitter{
	color: #1DA1F2;
}
.footer-info, .fa-phone, .fa-envelope, .fa-map-marker{
	font-size: 30px!important;
	width: 100%;
	text-align: center;
}
.footer-info p {
	text-align: center;
	margin: 3px;
}
.footer-info li{
	background-color: 1E1E1E;
}
.pnaujienlaiskis input{
	font-size: 25px;
	border: none;
}
.pnaujienlaiskis button {
	width: 100%;
	border: none;
	margin-top: 5px;
	padding: 3px;
	cursor: pointer;
}
.pnaujienlaiskis button:hover {
	background-color:
}
