/*@media screen and (max-width: 1300px){
  header{
    width: 440px;
  }
  .vlogocontainer{
    padding-left: 0;
  }
  .vtopmenucontainer{
    padding-right: 0;
  }
  .vtopcontainer{
    padding-left: 0;
    padding-right: 0;
  }
  .vtitle{
    padding-top: 90px;
  }
  .vsearchcontainer{
    width: 440px;
    height: 400px;
  }
  .vsearch{
    padding-top: 0;
    padding-left: 68px;
    width: 70%;
  }
  .pbest-food,
  .vbigone{
    width: 440px;
  }
  .vtopmenu li{
    padding-right: 15px;
  }
  .vtop li {
    margin-left: 0;
  }
  .vtopcontainer ul,
  .main-news ul{
    display: flex;
    justify-content: center;
  }

  .vbigone {
    width: 300px;
  }
  .vbigone img{
    width: 98%;
    height: 50%;
  }
  .news-pcontainer,
  .footer-pcontainer{
    width: 440px;
    padding-left: 0;
    padding-right: 0;
  }
  .idomiausios-naujienos ul{
    width: 440px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map-pcontainer iframe{
    width: 100%;
  }
  .main-news li{
    margin-bottom: 8px;
  }
  .footer-pcontainer div{
    display: flex;
    flex-direction: column;

  }
  #scrolling{
    right: 5px;
}
  #one,
  .icons {
    text-align: center;
  }
  .pnaujienlaiskis input,
  .pnaujienlaiskis button{
    width: 360px;
  }

}*/


@media screen and ( max-width: 1280px ) {
  .vsmallone {
    width: 250px;
  }

  .vbigone {
    width: 620px;
    height: 411px;
  }

  .main-news li {
    margin-top: 10px;
  }

  .main-news ul {
    margin-top: 0;
  }

  .social, .footer-info, .footer-laiskas {
    width: 20%
  }
}

@media screen and ( max-width: 1024px ) {
  .vbigone {
    width: 450px;
    height: 379px;
  }

  .vsmallone {
    width: 200px;
  }

  iframe {
    width: 924px;
  }

  .main-news li {
    width: 200px;
  }
}

@media screen and ( max-width: 800px ) {
  iframe {
    width: 700px;
  }

  .vbigone {
    width: 350px;
    height: 250px;
  }

  .vsmallone {
    width: 150px;
    height: 150px;
  }

  #ggg .vtop .vsmallone {
    margin-left: 12px;
  }

  .main-news li {
    width: 150px;
  }

  .icons ul {
    padding-left: 0;
  }

  .pnaujienlaiskis input, .pnaujienlaiskis button {
    width: 100%;
  }

  .idomiausios-naujienos li {
    width: 90px;
  }

  


}