@media screen and (max-width: 1300px){
  .vtopcontainer ul,
  .main-news ul{
    display: flex;
    justify-content: center;

  }
  .vbigone {
    width: 300px;
  }
  .vbigone img{
    width: 100%;
    height: 50%;
  }
  .map-pcontainer iframe{
    width: 100%;
  }
  .main-news li{
    margin-bottom: 8px;
  }
  .footer-pcontainer div{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

}
