@media screen and (max-width: 1300px){
  .vlogocontainer{
    padding-left: 0;
  }
  .vtopcontainer{
    padding-left: 0;
    padding-right: 0;
  }
  .vtitle{
    padding-top: 90px;
  }
  .vsearchcontainer{
    width: 440px;
    height: 400px;
  }
  .vsearch{
    padding-top: 0;
    padding-left: 68px;
    width: 70%;
  }
  .pbest-food,
  .vbigone{
    width: 440px;
  }
  .vtop li {
    margin-left: 0;
  }
  .vtopcontainer ul,
  .main-news ul{
    display: flex;
    justify-content: center;
  }

  .vbigone {
    width: 300px;
  }
  .vbigone img{
    width: 98%;
    height: 50%;
  }
  .news-pcontainer,
  .footer-pcontainer{
    width: 440px;
    padding-left: 0;
  }
  .idomiausios-naujienos ul{
    width: 440px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map-pcontainer iframe{
    width: 100%;
  }
  .main-news li{
    margin-bottom: 8px;
  }
  .footer-pcontainer div{
    display: flex;
    flex-direction: column;

  }
  #scrolling{
    right: 50px;
}
  #one,
  .icons {
    text-align: center;
  }
  .pnaujienlaiskis input,
  .pnaujienlaiskis button{
    width: 360px;
  }

}
